.relative{
  position: relative;
}
.page{
  height: 100%;
  top: 30px;
}
.sticky{
  position: sticky;
  top: 100px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 3px;
  border-style: solid;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(4, 15, 171);
  padding: 10px;
}
.flex-container div{
    background-color: aqua;
    border: 2px solid rgb(14, 7, 238);
    height: 100px;
    width: 100px;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgb(4, 135, 171);
  /*height: 80vh;
  align-items: center;*/
}
.grid-container{
  display: grid;
  grid-template-rows: 100px 100px 100px ;
  grid-template-columns: 100px 100px 100px;
}
.grid-container div{
  border: 2px solid rgb(34, 103, 29);
  background-color: rgb(112, 227, 231);
}
.box1 {
  grid-column-start:1;
  grid-column-end:4;
}
.box2{
  grid-row-start: 2;
  grid-row-end: 4;
>>>>>>> 09ef3a81e65c4e8ba72f93fe90ba5890727ea821
}