.navbar {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    font-size: xx-large;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    color: brown;
    text-decoration: underline;
}

li {
    list-style: none;
}

